@charset "utf-8";


@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-display: swap;
}

/* reset */
html, body { width: 100%; height: 100%; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, strike, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, input, button, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video { margin: 0; padding: 0; font-family: "pretendard", "Noto Sans Korean", sans-serif; font-weight: 500; line-height: 1; color:#2A2A2A; font-size: 16px; box-sizing: border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }

p {line-height: 1.4;}

/* html::-webkit-scrollbar, body::-webkit-scrollbar {width:0;} */
button { cursor: pointer; -webkit-tap-highlight-color: rgba(0, 0, 0, 1); background-color: transparent }
button, textarea, select { box-shadow: none; cursor: pointer;  font-family: "pretendard", "Noto Sans Korean", -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",  Roboto,"Pretendard", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;}
select {height:24px; min-width: 90px; border:1px solid #D2D7DB;}
input { /* -webkit-appearance: none; appearance: none; */ }
::-webkit-input-placeholder { color: #ACB8C2;}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

a { font-size: inherit; color: inherit; text-decoration:none; cursor:pointer; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
a, dl, dt, dd, ul, li, button, span, div, p { -webkit-appearance: none; appearance: none; box-shadow: none; border: none; border-radius: 0; -webkit-tap-highlight-color: rgba(0,0,0,0);}
a.link { display: block; }
img { width: 100%; height: auto; }
ul, ol, li, dl, dt, dd { list-style:none; }

blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:none; }
 
table {table-layout:fixed; border-collapse: collapse; border-spacing: 0px; word-break: break-all; word-wrap: break-word; }
caption, legend { visibility:hidden;overflow:hidden;font-size:0;line-height:0; }
address,caption,cite,code,dfn,em,var {font-style: normal; font-weight: 400;}

button:disabled{opacity:0.3;}

b, strong {font-family: inherit; font-size:inherit; color:inherit; font-weight:700; letter-spacing:inherit;}

em, span, i, label{font-size:inherit; color:inherit; font-weight:inherit; letter-spacing:inherit;}


/* 대체텍스트 hidden */
.blind {position: absolute;	clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px;	overflow: hidden;}

/*flexbox*/
.flexSb { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: center; align-items: center; -webkit-box-orient: horizontal; -webkit-box-pack: justify; -webkit-box-align: center; }
.flexTop { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: flex-start; align-items: flex-start; -webkit-box-orient: horizontal; -webkit-box-pack: justify; -webkit-box-align: start; }
.flexBottom { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: flex-end; align-items: flex-end; -webkit-box-orient: horizontal; -webkit-box-pack: justify; -webkit-box-align: center; }
.flexCen { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-align: center; -webkit-align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; }
.flexSb > *, .flexTop > *, .flexBottom > *, .flexCen > * { display: block; }
.flex-1 { -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; }

.v-top {vertical-align: top;}
.v-mid {vertical-align: middle;}
.v-bot {vertical-align: bottom;}


/* ds-none */
.ds-none { display: none; }
.ds-block { display: block; }

/* padding */
.paBot10 { padding-bottom: 10px; }

/* margin */
.maBot10 { margin-bottom: 10px; }

/* text */
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }


/* contents */
:root {
  --primary-color : #761411;
  --input-height : 67px;
  --px-large : 120px;
}

@media screen and (max-width:1400px) {
  :root {
    --input-height : 48px;
    --px-large : 60px;
  }
}

.btns-wrap {margin-top:55px; text-align: center;}
.btn-counsel {display: inline-block; max-width: 422px; height:100px; cursor: pointer; color:#fff;}

img {width: 100%;}


.title {margin:0 auto; text-align: center; color:#fff;}

.sec-form {background-color: var(--primary-color);}
.form-col {display: flex;}
.form-col > label {display: flex; align-items: center; min-width:80px; padding-right:10px; height: var(--input-height);}

input[type="text"] {width: 100%; height: var(--input-height); padding:0 20px; border:1px solid #cccccc;}
textarea {width: 100%; height:160px; padding:0 30px; border:1px solid #cccccc; resize: none; box-sizing: border-box;}

.radio-btns {display: flex; width: 100%;}
.radio-btns > .radio-btn {flex:1;}
.radio-btn {position: relative;}
.radio-btn + .radio-btn {left:-1px;}
.radio-btn input {position: absolute; appearance: none;}
.radio-btn input + label {display: flex; align-items: center; justify-content: center; width: 100%; height: var(--input-height); border:1px solid #cccccc; cursor: pointer;}
.radio-btn input:checked + label {color:#fff; font-weight: bold; background-color: var(--primary-color);}

.sec-info {padding:var(--px-large) 0; background-color: #170103;}
.img-info {width: 100%; max-width: 945px; margin:0 auto;}

/* pc */
@media screen and (min-width:1401px) {
  .sec-inner {max-width: 1404px; margin:0 auto;}
  .form-wrap {padding:80px 80px 65px; background-color: #fff;}
  .form-row {display: flex; gap: 80px;}
  .form-row > .form-col {flex: 1;}
  .form-col {padding:20px 0;}
  .form-col > label {min-width: 115px;}
}

/* mo */
@media screen and (max-width:1400px) {
  .sec-inner {padding:0 20px;}
  .form-wrap {padding:40px 20px 25px; background-color: #fff;}
  .form-col {padding:10px 0;}
}

/* 320 */
@media screen and (max-width:320px) {
  .form-col {display: block; padding:0;}
}


