@charset "utf-8";


@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


/* reset */
html, body { width: 100%; height: 100%; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, strike, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, input, button, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video { margin: 0; padding: 0; font-family: "Pretendard", sans-serif; font-weight: 500; line-height: 1; color:#2A2A2A; font-size: 16px; box-sizing: border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }

p {line-height: 1.4;}

/* html::-webkit-scrollbar, body::-webkit-scrollbar {width:0;} */
button { cursor: pointer; -webkit-tap-highlight-color: rgba(0, 0, 0, 1); background-color: transparent }
button, textarea, select { box-shadow: none; cursor: pointer;  font-family: "Pretendard", "Noto Sans Korean", -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",  Roboto,"Pretendard", "Segoe UI", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;}
select {height:24px; min-width: 90px; border:1px solid #D2D7DB;}
input { /* -webkit-appearance: none; appearance: none; */ }
::-webkit-input-placeholder { color: #ACB8C2;}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

a { font-size: inherit; color: inherit; text-decoration:none; cursor:pointer; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
a, dl, dt, dd, ul, li, button, span, div, p { -webkit-appearance: none; appearance: none; box-shadow: none; border: none; border-radius: 0; -webkit-tap-highlight-color: rgba(0,0,0,0);}
a.link { display: block; }
ul, ol, li, dl, dt, dd { list-style:none; }

blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:none; }
 
table {table-layout:fixed; border-collapse: collapse; border-spacing: 0px; word-break: break-all; word-wrap: break-word; }
caption, legend { visibility:hidden;overflow:hidden;font-size:0;line-height:0; }
address,caption,cite,code,dfn,em,var {font-style: normal; font-weight: 400;}

button:disabled{opacity:0.3;}

b, strong {font-family: inherit; font-size:inherit; color:inherit; font-weight:700; letter-spacing:inherit;}

em, span, i, label{font-size:inherit; color:inherit; font-weight:inherit; letter-spacing:inherit;}


/* 대체텍스트 hidden */
.blind {position: absolute;	clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px;	overflow: hidden;}

/*flexbox*/
.flexSb { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: center; align-items: center; -webkit-box-orient: horizontal; -webkit-box-pack: justify; -webkit-box-align: center; }
.flexTop { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: flex-start; align-items: flex-start; -webkit-box-orient: horizontal; -webkit-box-pack: justify; -webkit-box-align: start; }
.flexBottom { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; justify-content: space-between; -webkit-align-items: flex-end; align-items: flex-end; -webkit-box-orient: horizontal; -webkit-box-pack: justify; -webkit-box-align: center; }
.flexCen { display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-align: center; -webkit-align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; }
.flexSb > *, .flexTop > *, .flexBottom > *, .flexCen > * { display: block; }
.flex-1 { -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; }

.v-top {vertical-align: top;}
.v-mid {vertical-align: middle;}
.v-bot {vertical-align: bottom;}


/* ds-none */
.ds-none { display: none; }
.ds-block { display: block; }

/* padding */
.paBot10 { padding-bottom: 10px; }

/* margin */
.maBot10 { margin-bottom: 10px; }

/* text */
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }


/* contents */
:root {
  --primary-color : #761411;
  --input-height : 67px;
  --px-large : 120px;
  --side-padding : 40px;
  --max-width:1400px;
  --flex-font-size: 40px;
}

@media screen and (max-width:1400px) {
  :root {
    --input-height : 48px;
    --px-large : 80px;
    --max-width: 1400px;
    --flex-font-size: 30px;
  }
}

@media screen and (max-width:768px) {
  :root {
    --max-width: 768px;
    --px-large : 40px;
    --flex-font-size: 20px;
  }
}

@media screen and (max-width:430px) {
  :root {
    --max-width: 600px;    
    --side-padding : 20px;
    --flex-font-size: 14px;
  }
}

@media screen and (max-width:320px) {
  :root {
    
  }
}

.sec-inner {position: relative; padding:var(--px-large) var(--side-padding);}

/* sec01 */
.sec-cont01 {aspect-ratio: 1918 / 1207; background: url(../images/sec01_bg.jpg) no-repeat center / cover;}
.sec-cont01 .sec-inner {height: 100%; padding:calc(95px / 1920px * 100%) 0;}
.sec01-title {display: block; width: 100%; max-width: calc(100% * .3); margin:0 auto;}
.sec01-text {position: absolute; bottom:calc(115px / 1400px * 100%); left:50%; transform: translateX(-50%); display: block; width: 100%; max-width: calc(100% * .35);}

@media screen and (max-width:1400px) {
  .sec-cont01 {aspect-ratio: 1400 / 1207; background: url(../images/sec01_bg_mo.jpg) no-repeat center / cover;}
}

/* sec02 */
.sec-cont02 {background: #060000 url(../images/sec02_bg.jpg) no-repeat center / cover;}
.sec-cont02 .sec-inner {padding-bottom: calc(190px / 1400px * 100%);}
.sec02-title {display: block; width: 100%; max-width: calc(850px / var(--max-width) * 100%); margin:0 auto calc(154px / 1400px * 100%);}
.sec02-list > li {position: relative; display: flex; align-items: center; justify-content: center; aspect-ratio: 1280 / 276;}
.sec02-list > li img {position: absolute; transform: translateX(-70%); max-width: calc(500px / 1400px * 100%);}
.sec02-list > li strong {color:#fff; font-size: var(--flex-font-size);}
.sec02-list > li p {position: absolute; left: 55%; color:#fff; font-size: var(--flex-font-size); white-space: nowrap; font-weight: 300;}
.sec02-list > li:nth-child(2) img {transform: translateX(70%);}
.sec02-list > li:nth-child(2) p {left:45%; transform: translateX(-100%);}
.sec02-list > li:nth-child(3) p {transform: translateY(25%);}


/* sec03 */ 
.sec-cont03 {background: #6c0c15;}
.sec-cont03 .sec-inner {aspect-ratio: 1400 / 998; background: url(../images/sec03_img_mo.jpg) no-repeat center / cover;}
.sec03-title {display: block; width: 100%; max-width: calc(100% * .7); margin:0 auto calc(65px / 1400px * 100%);}

/* sec04 */
.sec-cont04 {position: relative; background: url(../images/sec04_bg.jpg) no-repeat center 0 / cover;}
.sec-cont04::before {position: absolute; bottom:0; content: ''; display: block; width: 100%; height:181px; background-color: #a3781b ;}
.sec-cont04 .sec-inner {height: 100%; padding:calc(95px / 1400px * 100%) 0 0;}
.sec04-title {display: block; width: 100%; max-width: calc(100% * .55); margin:0 auto calc(45px / 1400px * 100%);}
.sec04-img {display: block; width: 100%; max-width: 1120px; margin:0 auto;}
.sec04-bottom {position: relative; left:50%; transform: translateX(-50%); display: block; width: 100%; max-width: 1960px; height: 219px; margin-top:calc(100% * -.05); background: url(../images/sec04_bottom.png) no-repeat center / cover;}
@media screen and (max-width:1400px) {
  .sec-cont04 {background: url(../images/sec04_bg_mo.jpg) no-repeat center / cover;}
  .sec-cont04::before {display: none;}
  .sec04-img {max-width: 80%;}
  .sec04-bottom {aspect-ratio: 1400 / 219; height: auto; background: url(../images/sec04_bottom_mo.png) no-repeat center / cover;}
}

/* sec11 */
.btns-wrap {margin-top:calc(55px / var(--max-width) * 100vw); text-align: center;}
.btn-counsel {display: inline-block; max-width: calc(422px / var(--max-width) * 100%); cursor: pointer; color:#fff;}
.btn-counsel img {width: 100%;}


.title {margin:0 auto; text-align: center; color:#fff;}

.sec-form {background: var(--primary-color) url(../images/sec11_bg.jpg) no-repeat center 0 / cover;}
.sec-form .sec-inner {padding-bottom: 0;}
.sec-form-title {display: block; max-width: calc(529px / var(--max-width) * 100%); margin: 0 auto calc(80px / 1400px * 100vw);}
.form-col {display: flex;}
.form-col > label {display: flex; align-items: center; min-width:80px; padding-right:10px; height: var(--input-height);}

input[type="text"] {width: 100%; height: var(--input-height); padding:0 20px; border:1px solid #cccccc;}
textarea {width: 100%; height:160px; padding:20px; border:1px solid #cccccc; resize: none; box-sizing: border-box;}

.radio-btns {display: flex; width: 100%;}
.radio-btns > .radio-btn {flex:1;}
.radio-btn {position: relative;}
.radio-btn + .radio-btn {left:-1px;}
.radio-btn input {position: absolute; appearance: none;}
.radio-btn input + label {display: flex; align-items: center; justify-content: center; width: 100%; height: var(--input-height); border:1px solid #cccccc; cursor: pointer;}
.radio-btn input:checked + label {color:#fff; font-weight: bold; background-color: var(--primary-color);}

/* sec12 제품상세 */
.sec-info {background-color: #170103;}
.sec11-title img {display: block; max-width: 280px; margin:0 auto;}
.img-info {width: 100%; margin:0 auto; text-align: center;}
.info-title {display: block; width: 100%; max-width: calc(942px / var(--max-width) * 100%); margin:0 auto 25px;}
.sec12-detail {display: block; width: 100%; max-width: calc(800px / var(--max-width) * 100%); margin:0 auto;}

/* pc */
@media screen and (min-width:1401px) {
  .sec-inner {max-width: 1400px; margin:0 auto; box-sizing: content-box;}
  .form-wrap {padding:80px 80px 65px; background-color: #fff;}
  .form-row {display: flex; gap: 80px;}
  .form-row > .form-col {flex: 1;}
  .form-col {padding:20px 0;}
  .form-col > label {min-width: 115px;}
}

/* mo */
@media screen and (max-width:1400px) {
  img {width: 100%;}

  .form-wrap {padding:40px 20px 25px; background-color: #fff;}
  .sec-form {background-size: contain;}
  .form-col {padding:10px 0;}


}

/* 320 */
@media screen and (max-width:320px) {
  .form-col {display: block; padding:0;}
}


