@charset "utf-8";

@import url(../font/pretendard.css); /* font 정의 */

:root {
  --primary-color: #002169;
}

/* reset */
html, body { width: 100%; height: 100%; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, strike, tt, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, input, button, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video { margin: 0; padding: 0; box-sizing: border-box; color:#010101; word-break: keep-all; font-family: 'Pretendard', 'Nanum Gothic', '나눔고딕', sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }

img {vertical-align: top;}

table {table-layout:fixed; border-collapse: collapse; border-spacing: 0px; word-break: break-all; word-wrap: break-word; }
caption, legend { visibility:hidden;overflow:hidden;font-size:0;line-height:0; }
address,caption,cite,code,dfn,em,var {font-style: normal; }

button { cursor: pointer; border:0; background-color: #fff; font-family: inherit; font-size: inherit;}
button, select {box-shadow: none; cursor: pointer;}
select {color:#818181;font-family: 'Pretendard', 'Nanum Gothic', '나눔고딕', sans-serif; }

ul, ol, li, dl, dt, dd { list-style:none; }
a {text-decoration: none; cursor:pointer;}

/* 대체텍스트 hidden */
.blind {position: absolute;	clip: rect(0 0 0 0); width: 1px; height: 1px; margin: -1px;	overflow: hidden;}

@media screen and (max-width: 768px) {
  body, html {font-size: 14px;}
}


/* ==== common ==== */
/*skipmenu*/
.skipmenu{position: relative; width: 100%; }
.skipmenu a {position: absolute; top:-40px; z-index: -1; display: block; width: 100%; padding:10px 20px; color:#fff; font-size: 13px; font-weight: bold; background: #ffba00;}
.skipmenu a:focus {top:0; z-index: 99;}

.engWrapper {min-height: 100%;}

.ic-searchW {display: inline-block; width: 16px; height: 16px; vertical-align: -2px; background: url(../images/ic_search_16_w.svg) no-repeat center / 16px 16px;}
.ic-down {display: inline-block; width: 16px; height: 16px; vertical-align: -3px; background: url(../images/ic_down_12.svg) no-repeat center / 12px 12px;}
.ic-more {display: inline-block; width: 16px; height: 16px; vertical-align: -3px; background: url(../images/ic_more_16.png) no-repeat center / 12px 12px;}

/* ==== button ==== */
[class^="iconBtn-"] {display: inline-flex; align-items: center; justify-content: center; height: 42px; padding:0 6px; border:1px solid var(--primary-color); border-radius: 100px;}
[class^="iconBtn-"] [class^="ic-"] {margin-left:4px;}
.iconBtn-pri {color:#fff; background-color: var(--primary-color);}
.iconBtn-sec {color: var(--primary-color); background-color: #fff;}

/* ==== header ==== */
.engHeader {position: sticky; top:0; z-index: 10; background-color: #fff;}
.engHeader .dim {position: fixed; top:0; left: 0; right:0; bottom:0; background-color: rgba(0,0,0,.5);}
.engHead {position: relative; border-bottom:1px solid #E2E2E2; background-color: #fff;}
.engHead .inner {display:flex; justify-content: space-between; align-items: center ; max-width: 1280px; margin:0 auto; padding:24px 20px; box-sizing: content-box;}
.engHead h1 a {display: block; width: 185px; height: 38px; background: url(../images/logo.png) no-repeat center / contain;}

.engHead__util .kor {display: inline-flex; gap:6px; align-items: center; letter-spacing: -.5px; font-size: 16px; font-weight: 500; vertical-align: middle;}
.engHead__util .kor > img {display: inline-block; width:20px; height: 16px;}
.engHead__util .sitemap {display: inline-block; width: 24px; height: 24px; margin-left:14px; vertical-align: middle; background: url(../images/ic_menu_b.svg) no-repeat center / contain;}
.engHead__util .sitemap[aria-expanded="true"] {background: url(../images/ic_close.svg) no-repeat center / 16px 16px; }

.engGnb {position: relative; border-bottom:1px solid #E2E2E2; background-color: #fff;}
.engGnb > ul {display: flex; max-width: 1280px; margin:0 auto; padding:0 20px; box-sizing: content-box;}
.engGnb__depth1 {position: relative; left:-30px; display: flex; align-items: center; justify-content: center; height:66px; padding:0 30px; font-weight: 500;}
.engGnb__depth1::after {position: absolute; bottom: 15px; left: 50%; right:50%; display: block; content: ''; height:3px; background-color: #159ede; transition: 350ms cubic-bezier(0.25, 0.46, 0.45, 0.94);}

.engGnb.open .engGnb__depth1 {color:rgba(0,0,0,.4);}
.engGnb > ul > li.on > .engGnb__depth1 {color:#000;}
.engGnb__depth1:hover::after,
.engGnb > ul > li.on > .engGnb__depth1::after {left:30px; right:30px;}

.engGnb__sub {display: none; position: absolute; left:0; right:0; padding:24px 0 60px; border-top:1px solid #E2E2E2; background-color:#fff;}
.engGnb__sub .inner {max-width: 1280px; margin:0 auto; padding:0 30px; box-sizing: content-box;}
.engGnb__sub .inner::after {content: ''; display:block; clear: both;}
.engGnb__sub .inner > p {float: left; width: 20%; font-size: 26px; color:#000; font-weight: 600;}
.engGnb__sub .inner > ul {float: left; display: flex; flex-wrap: wrap; width: 70%; max-width: 1280px;}
.engGnb__sub .inner > ul > li {width: 50%; margin-bottom:16px; padding-right:10px;}
.engGnb__sub .inner > ul > li > a {display: inline-flex; color: #666;}
.engGnb__sub .inner > ul > li > a::before {content: '●'; display: inline-block; margin-right: 4px; padding-top:6px; font-size: 5px; color:#6c6c6c;}
.engGnb__sub .inner > ul > li > a:hover,
.engGnb__sub .inner > ul > li > a:hover::before {color:#000;}

.engGnb > ul > li.open .engGnb__sub {display: block;}


/* p */ 
@media screen and (min-width: 1025px) {
  .sitemapNav {display: none; position: absolute; top:87px; z-index: 10; width: 100%; background-color: #fff;}
  .sitemapNav .dim {position: fixed; top:87px; left: 0; right:0; bottom:0; background-color: rgba(0,0,0,.5);}
  .engLnb {position: relative; padding:24px; background-color: #fff;}
  .engLnb > ul {max-width: 1280px; margin:0 auto; padding:0 20px;}
  .engLnb > ul > li {display: flex; width: 100%; margin-bottom:24px;}
  .engLnb > ul > li + li {padding-top:24px; border-top:1px solid #ddd;}
  .engLnb__depth1 {display: block; width: 20%; text-align: left; font-size: 20px; font-weight: 700; pointer-events: none;}
  .engLnb__sub {display: block !important; width: 80%;}
  .engLnb__sub > ul {display: flex; flex-wrap: wrap; }
  .engLnb__sub > ul > li {width: 33%; margin-bottom:16px;}
  .engLnb__sub > ul > li a {display: inline-flex; color: #666;}
  .engLnb__sub > ul > li a::before {content: '●'; display: inline-block; margin-right: 4px; padding-top:6px; font-size: 5px; color:#6c6c6c;}
  .engLnb__sub > ul > li a:hover,
  .engLnb__sub > ul > li a:hover::before {color:#000;}
}

/* m */
@media screen and (max-width: 1024px) {
  .engGnb {display: none;}

  .sitemapNav {display: none; position: fixed; top:86px; bottom:0; z-index: 10; overflow-y:auto; width: 100%; background-color: #fff;}
  .sitemapNav .dim {display: none;}
  .engLnb {padding:24px;}
  .engLnb > ul > li {margin-bottom:24px;}
  .engLnb__depth1 {position: relative; display: block; width: 100%; height:36px; text-align: left; font-size: 16px; font-weight: 700; }
  .engLnb__depth1::after {content: ''; display: block; position: absolute; top:9px; right:0;  width: 16px; height: 16px; background: url(../images/ic_arr_down.svg) no-repeat center right / 16px auto; transition: .3s;}
  .engLnb__depth1[aria-expanded="true"]::after {transform: rotate(-180deg);}
  .engLnb__sub {display: none;}
  .engLnb__sub > ul > li > a {display: inline-block; padding:8px 12px; color:#666;}
}

@media screen and (max-width: 767px) {
  .engHead .inner {padding-block: 12px;}
  .engHead h1 a {width: 140px;}

  .sitemapNav {top:62px; bottom:0;}
  
}

/* ==== footer ==== */
.engFooter {background-color: #333333;}
.engFooter .inner {max-width: 1280px; margin:0 auto; padding:60px 20px; box-sizing: content-box;}
.footer__logo img {display: inline-block; width: 186px; height: 39px;}
.engFooter address {padding:24px 0; color:rgba(255,255,255,.5); line-height: 1.4;}
.engFooter .copyright {padding-top:24px; border-top:1px solid rgb(226, 226, 226, .12); color:rgba(255,255,255,.5); line-height: 1.4;}

/* ==== [s]main ==== */
.mainSection {max-width: 1280px; padding:60px 20px; margin:0 auto; box-sizing: content-box;}
.mainSection h2 {margin-bottom:24px; font-size: 2rem;}

.mainVisual {display: flex; gap:20px;}

.mainSwiper {position: relative; overflow: hidden; width: 70%;}
.mainSwiper .swiper-wrapper > a {display: block;}
.mainSwiper .swiper-wrapper img {width: 100%; border-radius: 20px;}
.swiper-control {position: absolute; z-index: 2; right:0; bottom: 0; display: flex; align-items: center; justify-content: center; gap:8px; width: 194px; height:54px; border-radius: 20px 0 20px 0; background-color: #01010166;}
.swiper-control .swiper-pagination em {color:#fff; opacity: .5;}
.swiper-control .swiper-pagination span {display: inline-block; width: 20px; color:#fff;}
.swiper-control .swiper-pagination-current {font-weight: 700;}
.swiper-control .swiper-pagination-total {opacity: .2;}
.mainSwiper .swiper-button-prev,
.mainSwiper .swiper-button-next {display: flex; align-items: center; justify-content: center; width: 24px; height: 24px; text-align: center; color: #fff; cursor: pointer; }
.mainSwiper .swiper-button-next svg {transform: scale(.8);}
.mainSwiper .swiper-button-prev svg { transform: scale(.8) scale(-1);}
.mainSwiper .swiper-button-play {display: inline-block; width: 24px; height:24px; background: transparent url(../images/sw_stop.png) no-repeat center / contain;}
.mainSwiper .swiper-button-play[data-play="stop"] {background-image: url(../images/sw_start.png);}

.mainMenu {display: flex; flex-direction: column; justify-content: space-between; width: 30%;}
.visionMenu {display: block; padding:24px 26px 24px 100px; border-radius: 20px; background: #E8F2FF url(../images/main_ic_1.png) no-repeat left 20px center / auto 70px;}
.visionMenu > strong {display: block; background: url(../images/main_ic_arr.png) no-repeat right center / 11px auto;}
.visionMenu > span {display: block; margin-top:18px; font-size: .875rem;}
.actMenu {display: flex; align-items: center; padding:16px 16px 16px 50px; border:1px solid #E2E2E2; border-radius: 16px; font-size: .875rem; box-shadow: 0px 2px 10px 0px #1111110A; background: url(../images/main_ic_arr.png) no-repeat right 20px center / 11px auto, url(../images/main_ic_pdf.png) no-repeat left 20px center / 16px auto;}
.videoMenu {display: block; height:200px; border:0; border-radius: 20px;}

/* m */
@media screen and (max-width: 767px) {
  .swiper-control {height:30px;}
}


/* t */
@media screen and (max-width: 1279px) and (min-width:768px) {
  .mainVisual {display: block;}
  .mainSwiper {width: 100%;}
  .mainMenu {flex-direction: row; flex-wrap: wrap; gap:20px; width: 100%; margin-top:20px;}
  .mainMenu__row {width: calc(50% - 10px);}
  .mainMenu__row:last-child {width: 100%;}
  .actMenu {height: 100%;}
  .videoMenu {width: 100%; height:300px; margin:0 auto;}
}

/* m */
@media screen and (max-width: 767px) {
  .mainSection {padding:30px 20px;}
  .mainVisual {display: block;}
  .mainSwiper {width: 100%;}
  .mainMenu {gap:16px; width: 100%; margin-top:20px;}
  .mainMenu__row {width: 100%;}
  .mainMenu__row:last-child {width: 100%;}
  .actMenu {height: 100%;}
  .videoMenu {width: 100%; height:300px; margin:0 auto;}
}

.mainSupport {display: flex; gap:20px; justify-content: space-between; margin-top:24px;}
.mainSupport > li {flex:1;}
.mainSupport > li > a {display: block; height: 100%; padding:32px 16px 36px; border-radius: 20px; line-height: 1.42; background-color: #F5F6F8;}
.mainSupport > li > a > span {display: block; margin-top:24px; text-align: center; font-size: 1.125rem; font-weight: 700;}
[class^="ic-main"] {display:block; width: 120px; height: 120px; margin:0 auto; background: no-repeat center / contain;}
.ic-main01 {background-image: url(../images/main_ic_support_1.png);}
.ic-main02 {background-image: url(../images/main_ic_support_2.png);}
.ic-main03 {background-image: url(../images/main_ic_support_3.png);}
.ic-main04 {background-image: url(../images/main_ic_support_4.png);}
.ic-main05 {background-image: url(../images/main_ic_support_5.png);}
.ic-main06 {background-image: url(../images/main_ic_support_6.png);}

/* t */
@media screen and (max-width: 1279px) and (min-width:768px) {
  .mainSupport {flex-wrap: wrap; gap: 1%;}
  .mainSupport > li {flex:auto; width: 32.3333%; margin-bottom:1%;}
}

/* m */
@media screen and (max-width: 767px) {
  .mainSupport {flex-direction: column; gap: 12px;}
  .mainSupport > li > a {display: flex; align-items: center; gap:12px; padding:16px 20px;}
  .mainSupport > li > a > span {margin:0; text-align: left;}
  [class^="ic-main"] {width: 60px; min-width: 60px; height: 60px; margin:0;}
}

.mainNetwork {display: flex; border:1px solid #E2E2E2; border-radius: 20px;}
.mainNetwork > li > a {display: block; padding:48px 26px;}
.mainNetwork > li > a > strong {display: block; color:#002169; background: url(../images/main_ic_arr_g.png) no-repeat center right / 1.5rem 1.5rem;}
.mainNetwork > li > a > span {overflow: hidden; display: block; text-overflow: ellipsis;  display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;  margin:22px 0 28px; font-size: 1.125rem;}
.mainNetwork > li > a > em {display: block; font-size: .875rem; color: #777777;}

/* p */
@media screen and (min-width:1280px) {
  .mainNetwork > li {flex:1;}
  .mainNetwork > li + li {border-left:1px solid #E2E2E2;}
}

/* t */
@media screen and (max-width: 1279px) and (min-width:768px) {
  .mainNetwork {flex-wrap: wrap;}
  .mainNetwork > li {width: 50%;}
  .mainNetwork > li:nth-child(2n) {border-left:1px solid #E2E2E2;}
  .mainNetwork > li:nth-child(n+3) {border-top:1px solid #E2E2E2;}
}

/* m */
@media screen and (max-width: 767px) {
  .mainNetwork {flex-wrap: wrap;}
  .mainNetwork > li {width: 100%;}
  .mainNetwork > li + li {border-top:1px solid #E2E2E2;}
  .mainNetwork > li > a {padding:24px 20px}
  .mainNetwork > li > a span {margin:12px 0 16px;}
}

.mainFlex {display: flex; gap: 20px;}
.mainFlex > div {flex:1}
.mainReport__box {display: flex; align-items: center; gap: 42px; padding:24px 30px; border-radius: 20px; background-color: #E2E8F0;}
.mainReport__img {overflow: hidden; border-radius: 20px;}
.mainReport__img img {width: 100%; min-width: 35%;}
.mainReport__info {width: 65%;}
.mainReport__info > dl > dt {margin-bottom:28px; font-size: 1.5rem; font-weight: 700; color:#002169;}
.mainReport__info > dl > dd {font-size: 1.25rem; color: #002339;}
.mainReport__info > ul {margin-top:16px;}
.mainReport__info > ul > li {position: relative; padding-left:10px; color: #555; line-height: 1.4 ;}
.mainReport__info > ul > li::before {position: absolute; top:10px; left: 0; display: block; content: ''; width: 3px; height: 3px; border-radius: 100%; background-color: #555;}
.mainReport__info .btns {display: flex; gap:10px; margin-top:36px}
.mainReport__info [class^="iconBtn"] {padding:0 20px;}

.mainCallCenter {display: flex; flex-direction: column;}
.mainCallCenter__hours {padding:40px 32px; border-radius: 20px; background-color: #E8F2FF;}
.mainCallCenter__hours h3 {margin-bottom:20px; font-size: 1.5rem; font-weight: 500;}
.mainCallCenter__hours .hours {padding:16px 24px 16px 94px; border-radius: 20px; background: #fff url(../images/main_ic_center.png) no-repeat left 24px center / 45px 36px;}
.mainCallCenter__hours .hours p {line-height: 1.4;}
.mainCallCenter__hours .hours p + p {margin-top:8px;}
.mainCallCenter__hours .noti {margin-top:20px; color:#555;}

.mainCallCenter__nationwide {margin-top: auto; }
.mainCallCenter__nationwide > a {display: block; padding:36px 70px 36px 70px; border:1px solid #E2E2E2; border-radius: 20px; font-size: 24px; font-weight: 500; color:#002169; background: url(../images/main_ic_location.png) no-repeat left 32px center / 20px 29px, url(../images/main_ic_arr.png) no-repeat right 44px center / 11px 12px;}

/* p */
@media screen and (min-width:1280px) {
  .mainReport__box {min-height: 368px;}
}

/* t */
@media screen and (max-width: 1279px) and (min-width:768px) {
  .mainFlex {display: block;}
  .mainCallCenter {margin-top:120px;}
  .mainCallCenter__nationwide {margin-top:16px;}
  .mainCallCenter__nationwide > a {font-size: 18px;}
}

/* m */
@media screen and (max-width: 767px) {
  .mainFlex {display: block;}
  .mainReport__box {flex-direction: column;}
  .mainReport__info {width: 100%;}
  .mainReport__info .btns {justify-content: center;}
  .mainCallCenter {margin-top:60px;}
  .mainCallCenter__hours {padding:20px 16px;}
  .mainCallCenter__hours .hours > p > span {display: inline-block;}
  .mainCallCenter__nationwide {margin-top:16px;}
  .mainCallCenter__nationwide > a {padding:16px 60px; font-size: 16px; background-position: left 20px center, right 20px center;} 
}
/* m */
@media screen and (max-width: 350px) {
  .mainReport__info .btns {flex-direction: column;}  
}

/* ==== [e]main ==== */

/* ==== container ==== */
.engContainer {min-height: calc(100vh - 152px - 278px);}
@media screen and (max-width: 1024px) {
  .engContainer {min-height: calc(100vh - 86px - 278px);}
}

.breadcrumb {border-bottom:1px solid #E2E2E2; background-color: #F8F8F8;}
.breadcrumb .inner {display: flex; gap:12px; align-items: center; max-width: 1280px; height:46px; margin:0 auto; padding:0 20px; box-sizing: content-box;}
.breadcrumb__home {display: block; width: 32px; height: 32px; background: url(../images/ic_home.png) no-repeat center / 12px 12px;}
.breadcrumb__arrow {display: block; width: 14px; height:14px; background: url(../images/ic_arr.svg) no-repeat center / 100%;}
.breadcrumb__depth {font-size: 14px;}

.engContent {padding:64px 0 110px;}
.engContent .inner {max-width: 1280px; margin:0 auto; padding:0 20px; box-sizing: content-box;}

.titleH2 {margin-bottom:32px; text-align: center; font-size: 2rem; line-height: 1.4;}
.titleH3 {margin-bottom:24px; font-size: 1.75rem; line-height: 1.4;}
.titleH4 {margin-bottom:16px; font-size: 1.5rem; line-height: 1.4;}

.underText {color:#555; line-height: 1.6; font-size: 1.125rem;}
.titleH3 + .underText {margin: -24px 0 24px;}

.subMenu {margin-bottom:64px; border-bottom:1px solid var(--primary-color);}
.subMenu > ul {display: flex; gap:8px;}
.subMenu > ul > li {flex: 1; border:1px solid #EDEDED; border-bottom:0; border-radius: 8px 8px 0 0;}
.subMenu > ul > li > a {display: flex; align-items: center; justify-content: center; height:100%; min-height: 58px; max-height:82px; padding:17px 16px; text-align: center; font-size: 18px; color:#333;}
.subMenu > ul > li.on {background-color: var(--primary-color);}
.subMenu > ul > li.on a {font-weight: 700; font-size: 18px; color:#fff; }

/* m */
@media screen and (max-width: 1024px) {
  .subMenu {display: none;}
}
@media screen and (max-width: 767px) {
  .breadcrumb .inner {gap:4px; height:36px;}
  .breadcrumb__depth {font-size: 12px;} 
  .engContent {padding-top:36px;}
}

/* Annual Report */
.reportList > ul {display: flex; flex-wrap: wrap;}
.reportList__box {border-radius: 20px; background-color: #F5F6F8;}
.reportList__dl {margin-bottom: 12px;}
.reportList__dl > dt {font-size: 1.75rem; font-weight: 700; color:var(--primary-color); line-height: 1.4;}
.reportList__dl > dd {font-size: 1.125rem; color:#555; line-height: 1.4;}
.reportList__img img {display: block; width: 100%; border-radius: 20px;}
.reportList__btns {display: flex; gap: 8px; margin-top:16px;}
.reportList__btns > button {width: 100%;}

/* p */
@media screen and (min-width: 1280px) {
  .reportList > ul {margin:0 -12px;}
  .reportList > ul > li {width: 25%; margin-bottom:40px; padding:0 12px;}
  .reportList__box {padding:24px 24px 32px;}
}

/* t */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .reportList > ul {margin:0 -6px;}
  .reportList > ul > li {width: 33.333%; margin-bottom:40px; padding:0 6px;}
  .reportList__box {padding:24px 20px 32px;}
  .reportList__btns {display: block;}
  .reportList__btns > button {width: 100%;}
  .reportList__btns > button + button {margin-top:8px;}
}

/* m */
@media screen and (max-width: 767px) {
  .reportList > ul {margin:0 -6px;}
  .reportList > ul > li {width: 50%; margin-bottom:20px; padding:0 6px;}
  .reportList__box {padding:16px 16px 24px;}
  .reportList__btns {display: block;}
  .reportList__btns > button {width: 100%;}
  .reportList__btns > button + button {margin-top:8px;}
}
@media screen and (max-width: 500px) {
  .reportList > ul > li {width: 100%;}
  .reportList__btns {display: flex; gap: 4px;}
  .reportList__btns > button + button {margin-top:0;}
}

/* Message from the CEO */
.messageCEO {margin:0 auto; padding:57px 50px; border-radius: 20px; background: linear-gradient(#E3E8F1 , #fff);}
.messageCEO__img {overflow: hidden; border-radius: 20px 20px 0 0;}
.messageCEO__img img {width: 100%;}
.messageCEO__title {margin:53px 0 56px; color: var(--primary-color); font-size: 32px; font-weight: 600; line-height: 1.4;}
.messageCEO__message {margin-bottom:64px; font-size: 24px; letter-spacing: -.6px; line-height: 1.6;}
.messageCEO__cont {color:#555555; line-height: 1.6; font-size: 20px;}
.messageCEO__sign {display: flex; justify-content: flex-end; gap:16px; margin-top:116px;}
.messageCEO__sign > p > strong {display: block; font-weight: 700; font-size: 26px; line-height: 1.6;} 
.messageCEO__sign > p > span {display: block; font-size: 20px; color: #444; line-height: 1.6;}
.messageCEO__sign > img {display: inline-block; width: 167px;}

/* m */
@media screen and (max-width: 767px) {
  .messageCEO {padding:24px 20px;}
  .messageCEO__title {margin:30px 0 36px; font-size: 20px;}
  .messageCEO__message {margin-bottom:32px; font-size: 18px;}
  .messageCEO__cont {color:#555555; line-height: 1.6; font-size: 16px;}
  .messageCEO__sign {display: block; margin-top:60px; text-align: right;}
  .messageCEO__sign > p > strong {font-size: 24 px;} 
  .messageCEO__sign > p > span {font-size: 16px;}
}

/* Mission and Vision */
.establishment {padding:48px 64px; border-radius: 20px;}
.establishment__title {display: flex; align-items: center; justify-content: center; gap:20px; width: fit-content; margin:0 auto 24px; padding:23px 24px; border-radius: 20px; text-align: center; font-size: 28px; font-weight: 700; color:#fff;}
.establishment__title::before {display: block; content: ''; width: 36px; height: 32px; background: url(../images/ic_building.png) no-repeat center / contain;}
.establishment__text {font-size: 24px; text-align: center; line-height: 1.6;}
.establishment__text strong {display: block; font-size: 28px;}

.icConnection {width: 236px; height: 130px; margin:12px auto; background: url(../images/ic_arr_big.png) no-repeat center / contain;}

.establishment.basis {background-color:#EAF4FD;}
.establishment.purpose {background-color:#ECF9E3;}
.establishment.basis .establishment__title {background-color: #002169;}
.establishment.purpose .establishment__title {background-color: #0DA15C;}
.establishment.basis .establishment__text > strong {color: #002169;}
.establishment.purpose .establishment__text > strong {color: #0DA15C;}

/* m */
@media screen and (max-width: 768px) {
  .establishment {padding:24px 12px;}
  .establishment__title {gap:8px; padding:12px 12px; font-size: 20px;}
  .establishment__title::before {width: 20px;}
  .establishment__text {font-size: 16px;}
  .establishment__text strong {font-size: 18px;}
}
@media screen and (max-width: 320px) {
  .establishment__title {width: 100%;}
  .establishment__title::before {display: none;}
}

.mainFunctions {margin-top:64px; padding:40px;  border:1px solid #E2E2E2; border-radius: 12px;}
.mainFunctions__list {display: flex; flex-wrap: wrap; justify-content: space-between; gap:20px}
.mainFunctions__list > dl {width: calc(50% - 10px); padding:37px 20px; border-radius: 20px; background-color: #F5F6F8;}
.mainFunctions__list > dl > dt {margin-bottom:12px; padding:12px 64px; border-radius: 20px; font-weight: 700; text-align: center; font-size: 1.25rem; line-height: 1.4; background-color: #fff;}
.mainFunctions__list > dl > dd {padding:8px 12px; text-align: center; color:#555; line-height: 1.6;}

/* m */
@media screen and (max-width: 1023px) {
  .mainFunctions {padding:20px;}
  .mainFunctions__list {display: block;}
  .mainFunctions__list > dl {width: 100%; padding:20px 16px;}
  .mainFunctions__list > dl + dl {margin-top:24px;}
  .mainFunctions__list > dl > dt {padding-inline: 12px;}
}

/* history */
.historyList {position: relative; padding:48px 36px 48px 64px; border-radius: 20px; background-color: #F5F6F8;}
.historyList::before {content: ''; position: absolute; top:90px; bottom:180px; left:36px; display: block; width: 2px; background: url(../images/line.png) repeat-y center;}
.byYear {display: flex; align-items: flex-start; gap: 32px;}
.byYear:first-child {align-items: center;}
.byYear + .byYear {margin-top:56px;}
.byYear__year {position: relative; display: flex; align-items: center; justify-content: center; width: 100px; min-width: 100px; height: 100px; border-radius: 20px; color:#fff; font-size: 24px; font-weight: 700; background-color: #1C82CC;}
.byYear__year::before {position: absolute; left:-32px; display: block; content: ''; width: 6px; height: 6px; border-radius: 100%; border:3px solid #cadfef; background-color: #1C82CC;}
.byYear__cont > dl {display: flex;}
.byYear__cont > dl ~ dl {margin-top:8px;}
.byYear__cont > dl > dt {width: 76px; min-width: 76px; color:#1C82CC; font-size: 1.25rem; font-weight: 500;}
.byYear__cont > dl > dd > p {position: relative; padding-left:15px; line-height: 1.4; font-size: 1.125rem; color: #555;}
.byYear__cont > dl > dd > p::before {position: absolute; top:10px; left:0; content: ''; display: block; width: 4px; height: 4px; border-radius: 100%; background-color: #555;}
.byYear__cont > dl > dd > p ~ p {margin-top:8px}

/* m */
@media screen and (max-width: 1100px) {
  .historyList {padding: 20px;}
  .byYear {display: block;}
  .byYear__year {width: 100%; height:36px; margin-bottom:24px;}
  .historyList::before,
  .byYear__year::before {display: none;}
  .byYear__cont > dl > dt {min-width: 50px; width: 50px;}
}

/* Organization */
.organization {overflow-x: auto;}
.organization > img {width: 100%;}
.organization__text {margin-top:24px; font-size: 14px; color:#555; line-height: 1.4;}

/* m */
@media screen and (max-width: 767px) {
  .organization > img {width: 600px;}
}

/* ci&mascot */
.ciMascot {margin-bottom:24px; padding:40px; border:1px solid #E2E2E2; border-radius: 20px;}
.ciMascot .titleH4 {margin-bottom:10px}
.ciMascot h5 {margin-bottom:16px; font-size: 1.25rem; text-align: center;}
.ciMascot p {margin-bottom:24px; color: #555; line-height: 1.6;}
.ciMascot img {width: 100%;}
.ciMascot .iconBtn-sec {width: 100%;}
.ciMascot__box {padding:32px; border-radius: 20px; background-color: #F5F6F8;} 

.kinfaCi__box {display: flex; gap:20px;}
.kinfaCi__box > div {flex: 1;}
.kinfaCi__img {max-width: 332px; margin:0 auto;}
.kinfaCi__btns {margin-top:12px;}

.mascot {margin-top:40px;}
.mascot__img {max-width: 718px; margin:0 auto;}

.notiList > li {position: relative; padding-left:15px; color:#555; line-height: 1.6;}
.notiList > li::before {position: absolute; top:8px; left:0; content: ''; display:block; width: 4px; height: 4px; border-radius: 100%; background-color: #555;}
.notiList > li + li {margin-top:4px;}

/* m */
@media screen and (max-width: 1023px) {
  .ciMascot {padding:20px;}
  .kinfaCi__box {display: block;}
  .ciMascot__box {margin-top:16px;}
}

/* Inclusive Funds Support */
[class^="ic-support"] {display: inline-block; width: 100%; height: 100%; background: no-repeat center / contain;}
.ic-support01 {background-image: url(../images/ic_support01.png);}
.ic-support02 {background-image: url(../images/ic_support02.png);}
.ic-support03 {background-image: url(../images/ic_support03.png);}
.ic-support-loan01 {background-image: url(../images/ic_support_loan_1.png);}
.ic-support-loan02 {background-image: url(../images/ic_support_loan_2.png);}
.ic-support-loan03 {background-image: url(../images/ic_support_loan_3.png);}
.ic-support-loan04 {background-image: url(../images/ic_support_loan_4.png);}
.ic-support-loan05 {background-image: url(../images/ic_support_loan_5.png);}
.ic-support-loan06 {background-image: url(../images/ic_support_loan_6.png);}

.supportList > ul > li {display: flex; align-items: center; gap:24px; padding:24px 40px; border: 1px solid #E2E2E2; border-radius: 20px;}
.supportList > ul > li ~ li {margin-top:24px;}
.supportList__img {width: 140px; height:140px; border-radius: 100%; background-color: #F5F6F8;}
.supportList dl > dt {font-weight: 600; font-size: 1.5rem; line-height: 1.4;}
.supportList dl > dt > em {color: #E21B22;}
.supportList dl > dt > small {display: block; font-size: 1rem; color:#555; font-weight: 400;}
.supportList dl > dt .mark {display: inline-block; margin:0 12px; padding:0 12px; border-radius: 100px; color: #1C82CC; font-size: 1.25rem; background-color: #1C82CC1F;}
.supportList dl > dd {margin-top:16px; line-height: 1.4;}
.supportList dl > dd > em {display: block;}

/* m */
@media screen and (max-width: 767px) {
  .supportList > ul > li {display: block; padding:24px 20px;}
  .supportList dl {text-align: center;}
  .supportList__img {margin: 0 auto 12px;}
  .supportList dl > dt > em {display: block;}
}


/* Credit & Debt Management Consulting Service */
.creditDebt {padding:80px 40px; border:1px solid #E2E2E2; border-radius: 20px;}
.creditDebt > img {display: block; width: 100%; max-width: 540px; margin:0 auto;}
.creditDebt dl {margin-top:40px; text-align: center; line-height: 1.4;}
.creditDebt dl dt {font-weight: 600; font-size: 1.5rem;}
.creditDebt dl dd {max-width: 720px; margin: 16px auto 0; font-size: 1.125rem; color:#555;}

/* m */
@media screen and (max-width: 1023px) {
  .creditDebt {padding:40px 20px;}
}

/* Inclusive Life Support */
.inclusiveLife {border: 1px solid #E2E2E2; border-radius: 20px;}
.inclusiveLife > dl {display: flex; gap: 20px; padding:40px 40px 40px 54px;}
.inclusiveLife > dl + dl {border-top: 1px solid #E2E2E2;}
.inclusiveLife > dl > dt {width: 25%; min-width: 25%; max-width: 290px; color:#1C82CC; font-size: 1.5rem; font-weight: 600; line-height: 1.4;}
.inclusiveLife > dl > dt::before {position: absolute; display: block; content: ''; width: 6px; height: 6px; margin-left:-14px; border-radius: 2px; background-color: #1C82CC;}
.inclusiveLife > dl > dd {color:#555; line-height: 1.6;}

/* m */
@media screen and (max-width: 767px) {
  .inclusiveLife > dl {flex-direction: column; padding:20px 20px 20px 34px;}
  .inclusiveLife > dl > dt,
  .inclusiveLife > dl > dd {width: 100%;}
}

/* Personalized Loan Service */
.personalizedLoan {padding:40px; border:1px solid #E2E2E2; border-radius: 12px;}
.personalizedLoan__img {position: relative; padding:35px 20px 51px; border-radius: 12px; background-color: #F5F6F8;}
.personalizedLoan__img img {display: block; width: 100%; max-width: 539px; margin:0 auto;}
.personalizedLoan__img ol > li {line-height: 1.4; font-size: 14px;}

.personalizedLoan__text {max-width: 900px; margin:40px auto 0; text-align: center; color: #555; line-height: 1.4;}

/* p */
@media screen and (min-width: 1280px) {
  .personalizedLoan__img ol {position: absolute; top:32px; right:32px;}
}

/* t */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .personalizedLoan__img ol {width: fit-content; margin:40px auto 0}
}

/* m */
@media screen and (max-width: 767px) {
  .personalizedLoan {padding: 20px;}
  .personalizedLoan__img {padding:20px }
  .personalizedLoan__img ol {width: fit-content; margin:40px auto 0}
  .personalizedLoan__img ol > li {font-size: 12px;}
}



/* videos */
.tabMenu {margin-bottom:55px; border-radius: 20px; background-color: #F5F6F8;}
.tabMenu > ul {display: flex; justify-content: center; gap:12px; padding:16px 20px;}
.tabMenu > ul > li > a {display: flex; align-items: center; justify-content: center; min-width: 120px; height:43px; padding:0 12px; border:1px solid #E2E2E2; border-radius: 12px; color:#555; text-align: center; background-color: #fff;}
.tabMenu > ul > li.on > a {font-weight: 800; color:var(--primary-color); border-color: var(--primary-color);}

.videosList__head {display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; gap:12px; margin-bottom:16px;}
.videosList__head .count {flex:auto; color:#555;}

.searchArea {flex: auto; max-width: 320px;}
.searchBox {overflow: hidden; display: flex; align-items: center; justify-content: space-between; padding-left:20px; border:1px solid var(--primary-color); border-radius: 12px;}
.searchBox > input {flex:1; height:32px; border:0;}
.searchBtn {display: block; width: 40px; height: 40px; background: url(../images/ic_search.svg) no-repeat center / 16px 16px;}

.videosList__body > ul {display: flex; flex-wrap: wrap;}
.videoBox {display: block;}
.videoBox .thumb {height:283px; overflow: hidden; margin-bottom:20px; border-radius: 20px;}
.videoBox .thumb iframe {border:0;}
.videoBox dl > dt {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; font-size: 20px; line-height: 1.4; font-weight: 700;}
.videoBox dl > dd {margin-top:8px; font-size: 18px; color:#555; line-height: 1.4;}

.paging {display: flex; align-items: center; justify-content: center; gap:20px;}
.paging button {display: inline-block; width: 40px; height: 40px; border-radius: 8px; font-size: 1.125rem;}
.paging button.prev {border:1px solid #DFE2E6; background: url(../images/ic_prev.svg) no-repeat center / 5px auto;}
.paging button.next {border:1px solid #DFE2E6; background: url(../images/ic_next.svg) no-repeat center / 5px auto;}
.paging .numList {display: flex;}
.paging .numList button.on {color:#fff; font-weight: 500; background-color: var(--primary-color);}

/* p */
@media screen and (min-width: 1280px) {
  .videosList__body > ul {margin:0 -16px;}
  .videosList__body > ul > li {width: 33.33333%; margin-bottom:107px; padding:0 16px;}
}

/* t */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .videosList__body > ul {margin:0 -16px;}
  .videosList__body > ul > li {width: 50%; margin-bottom:107px; padding:0 16px;}
}

/* m */
@media screen and (max-width: 767px) {
  .videosList__body > ul {margin:0 -16px;}
  .videosList__body > ul > li {width: 50%; margin-bottom:60px; padding:0 16px;}
}
@media screen and (max-width: 550px) {
  .videosList__body > ul > li {width: 100%; margin-bottom:40px;}
}

/* Network */
.NetworkList + .NetworkList {margin-top:48px;}
.NetworkList__list {padding:24px 24px 4px; border-radius: 20px; background-color: #F5F6F8;} 
.NetworkList__list > ul {display: flex; flex-wrap: wrap; margin:0 -8px}
.NetworkList__list > ul > li {width: 33.333%; padding:0 8px; margin-bottom:20px;}
.NetworkList__list > ul > li > a {display: block; padding:12px 20px; border:1px solid #D8DFE6; background: #fff url(../images/ic_link_20.svg) no-repeat center right 20px  / 20px 20px;}
.NetworkList__list > ul > li .noneLink {display: block; padding:12px 20px; border:1px solid #D8DFE6; background-color: #fff;}

/* t */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .NetworkList__list > ul > li {width: 50%;}
}

/* m */
@media screen and (max-width: 767px) {
  .NetworkList__list > ul > li {width: 100%;}
  .NetworkList__list > ul > li > a > img {max-width: 80%;}
}